.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.bare {
    display:flex;
    justify-content:center;
}

.bare > * {
    margin: 5px;
}